// _typography.scss

@import 'https://fonts.googleapis.com/css?family=Poppins';

$primary-font: 'Poppins', sans-serif;

h1 {
    font-weight: 300;
    font-size: 93px;
    letter-spacing: -1.5px;

    @media (max-width: $breakpoint-medium) {
        font-size: 73px;        
    }
}

h5 {
    font-weight: 400;
    font-size: 23px;
}