body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(to bottom right, #99C191, #C3D98D);
  }
#app {
font-family: $primary-font;
font-size: 1rem;
color: #333;
width: 100%;
max-width: 768px;
}