//_app.scss

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: $primary-color;
}

#app {
  font-family: $primary-font;
  font-size: 1rem;
  width: 100%;
  margin: auto;
  max-width: 768px;

  h1{
    margin: 0;
    margin-top: 50px;
    padding: 10px;
    color: $title-color;
  }

  h5{
    margin: 0;
    padding: 0 20px;
    color: $text-color;
  }

  @media (max-width: $breakpoint-medium) {
    text-align: center;    
  }
}