// _todo-input.scss

.container{
    margin-top: 50px;
    padding: 10px;
    width: calc(100% - 20px);
    min-height: calc(100% - 20px);

    @mixin feature-icon($color){
        grid-column-start: 3;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color;
        margin: 0 15px;
        cursor: pointer;

        svg{
            width: 1.4rem;
            height: 1.4rem;
        }
    }

    i{
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .add-item{
        display: grid;
        grid-template-columns: 70px auto 70px;
        grid-template-rows: 60px;
        width: 100%;
        height: 60px;
        background: rgba($color: #000000, $alpha: .3);
        border-radius: 100px;
        overflow: hidden;

        .add-icon{
            grid-column-start: 1;
            grid-column-end: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $title-color;
            cursor: pointer;

            svg{
                width: 1.4rem;
                height: 1.4rem;
            }
        }

        input{
            grid-column-start: 2;
            grid-column-end: 2;
            background: none;
            border: none;
            width: 100%;
            height: 60px;
            color: $title-color;
            font-size: 1.4rem;

            &::placeholder{
                color: $text-color;
                font-size: 1rem;
            }

            &:focus{
                outline: none;
            }
        }

        .feature-icon{
            @include feature-icon($title-color)
        }
    }

    .todo-list{
        padding-top: 20px;

        .item{
            display: grid;
            grid-template-columns: 70px auto 70px;
            grid-template-rows: 60px;
            width: 100%;
            height: auto;
            min-height: 60px;
            padding: 12px 0;
            margin-bottom: 5px;
            background: rgba($color: $title-color, $alpha: .8);
            border-radius: 5px;
            overflow: hidden;
            opacity: 0;
            transition: all .5s linear;

            .item-checkbox{
                grid-column-start: 1;
                grid-column-end: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $dark-primary-color;
                cursor: pointer;

                svg{
                    width: 1.4rem;
                    height: 1.4rem;
                }
            }

            .item-title{
                grid-column-start: 2;
                grid-column-end: 2;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 1.6rem;
            }

            .feature-icon{
                @include feature-icon($light-primary-color)
            }
        }

        .show{
            opacity: 1;
        }
    }

    .complete-list{
        .item{
            position: relative;
            background: rgba($color: $title-color, $alpha: .4);

            &::before{
                content: '';
                position: absolute;
                top: 42px;
                width: calc(100% - 120px);
                margin: 0 60px;
                border-bottom: 2px solid $light-primary-color;
            }
        }
    }

    .show-completed{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

        .button{
            color: $text-color;
            padding: 10px 20px;
            font-size: 1rem;
            text-transform: uppercase;
            background: rgba($color: $title-color, $alpha: .3);
            border-radius: 100px;            
            overflow: hidden;
            cursor: pointer;
            transition: all .5s linear;

            &:hover{
                color: $primary-color;
                background: rgba($color: $title-color, $alpha: .7);
            }

            &:focus{
                color: $primary-color;
                background: rgba($color: $title-color, $alpha: .7);
            }
        }

    }

    .red-bg{

        svg{
            fill: $secondary-color;
        }
    }
}